{
  "development": {
    "username": "",
    "password": "",
    "database": "",
    "host": "",
    "dialect": "",
    "port": "",
    "dialectOptions": {
      "useUTC": false
    },
    "timezone": ""
  }
}
